<div class="container">
  <form (ngSubmit)="save()">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="nomePessoa">Nome</label>
        <input type="text" class="form-control" id="nomePessoa" name="nomePessoa" [(ngModel)]="model.pessoa.nomePessoa"
          placeholder="Nome" required>
      </div>

      <div class="col-md-4 mb-3">
        <label for="dataNascimentoAluno">Data de Nascimento</label>
        <div class="input-group">
        <input ngbDatepicker #d="ngbDatepicker" type="text" class="form-control" id="dataNascimentoAluno"
          [(ngModel)]="model.dataNascimento" placeholder="DD/MM/AAAA" required>
        <div class="input-group-prepend">
          <button  class="input-group-text" id="inputGroupPrepend" (click)="d.toggle()">
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">State</label>
        <select class="custom-select" id="validationDefault04" required>
          <option selected disabled [value]="undefined">Selecione ...</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <div>
      <button class="btn btn-primary mr-auto" type="submit">Salvar</button>
      <button class="btn btn-secondary">Cancelar</button>
    </div>
  </form>
</div>
