<div class="container">
  <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="nomePessoa">Nome</label>
        <input type="text" class="form-control" id="nomePessoa" [(ngModel)]="model.pessoa.nomePessoa" placeholder="Nome" required>
      </div>

      <div class="col-md-4 mb-3">
        <label for="dataNascimentoAluno">Data de Nascimento</label>
        <input type="text" class="form-control" id="dataNascimentoAluno" [(ngModel)]="model.dataNascimento" ngbDatepicker #d="ngbDatepicker" placeholder="DD/MM/AAAA" required>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">State</label>
        <select class="custom-select" id="validationDefault04" required>
          <option selected disabled [value]="undefined">Selecione ...</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <div>
      <button class="btn btn-primary mr-auto" type="submit">Salvar</button>
      <button class="btn btn-secondary">Cancelar</button>
    </div>
  </form>
</div>
