<div class="container">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="nomePessoa">Nome</label>
        <input type="text" class="form-control" id="nomePessoa" formControlName="nomePessoa" placeholder="Nome">
      </div>

      <div class="col-md-4 mb-3">
        <label for="dataNascimentoAluno">Data de Nascimento</label>
        <div class="input-group">
          <input ngbDatepicker #d="ngbDatepicker" type="text" class="form-control" id="dataNascimentoAluno"
            formControlName="dataNascimento" placeholder="YYYY-MM-DD">
          <div class="input-group-prepend">
            <button type="button" class="input-group-text" id="inputGroupPrepend" (click)="d.toggle()">
              <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">State</label>
        <select class="custom-select" id="validationDefault04" required>
          <option selected disabled [value]="undefined">Selecione ...</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <div>
      <button [disabled]="form.invalid" class="btn btn-primary mr-2 ml-auto" type="submit">Salvar</button>
      <button class="btn btn-secondary" type="button">Cancelar</button>
    </div>
  </form>
</div>

{{form.value | json}}
