<article>
  <button class="btn btn-primary" [hidden]="mostrandoMenores" (click)="showMenores()">Somente menores de 16 anos</button>
  <button class="btn btn-primary" [hidden]="!mostrandoMenores" (click)="loadAlunos()">Mostra Todos os alunos</button>
</article>

<article>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Professor</th>
        <th>
          <a routerLink="novo">
            <button class="btn btn-primary">Novo</button>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of alunos">
        <th [innerText]="item.idPessoa"></th>
        <td [innerText]="item.nomePessoa"></td>
        <td>{{item.dataNascimentoAluno | date:'dd/MM/yyyy'}}</td>
        <th>{{ item.professor?.nomePessoa }}</th>
        <td>
          <button class="btn btn-success mr-2" (click)="editar(item.idPessoa)">
            <fa-icon [icon]="icons.edit"></fa-icon>
          </button>

          <button class="btn btn-danger" (click)="excluir(item.idPessoa)">
            <fa-icon [icon]="icons.delete"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</article>

<article class="modal-form" [hidden]="!isEdit">
  <div>
    <router-outlet></router-outlet>
  </div>
</article>
