<article class="p-2 rounded-sm bg-white mb-2">
  <div class="col-auto my-1">
    <div class="custom-control custom-checkbox mr-sm-2">
      <input type="checkbox" class="custom-control-input" id="mostrandoMaiores" name="mostrandoMaiores"
        [(ngModel)]="mostrandoMaiores" (change)="loadAlunos()">
      <label class="custom-control-label" for="mostrandoMaiores">
        Lista com os alunos maiores de 16 anos
      </label>
    </div>
  </div>
</article>

<article class="p-2 rounded-sm bg-white">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Professor</th>
        <th>
          <a routerLink="novo">
            <button class="btn btn-primary">Novo</button>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of alunos">
        <th [innerText]="item.idPessoa"></th>
        <td [innerText]="item.nomePessoa"></td>
        <td>{{item.dataNascimentoAluno | date:'dd/MM/yyyy'}}</td>
        <th>{{ item.professor?.nomePessoa }}</th>
        <td>
          <button class="btn btn-success mr-2" (click)="editar(item.idPessoa)">
            <fa-icon [icon]="icons.edit"></fa-icon>
          </button>

          <button class="btn btn-danger" (click)="excluir(item.idPessoa)">
            <fa-icon [icon]="icons.delete"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</article>

<article class="modal-form" [hidden]="!isEdit">
  <div>
    <router-outlet></router-outlet>
  </div>
</article>
