/* You can add global styles to this file, and also import other style files */

.bg-brcdark {
  background-color: #153c78;
}

.bg-brcprimary {
  background-color: #13376f;
}

.form-control.ng-invalid.ng-touched.ng-pristine {
  border-color: #ff0000;
}

.form-control.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

button:disabled {
  cursor: not-allowed;
}
